<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

<div class="jumbotron jumbotron-fluid jumbo">
  <div>
    <div class="loginKonum">
      <button class="btn btn-outline-success my-2 my-sm-0" routerLink="/login">Giriş</button>
    </div>
    <div class="iconKonum">
      <a href="https://www.facebook.com/mertsmsk96" target="_blank" class="icon-radius fab fa-facebook-f"></a>
      <a href="https://twitter.com/mertsmsk96" target="_blank" class="icon-radius fab fa-twitter"></a>
      <a href="https://www.linkedin.com/in/muhammet-mert-%C5%9Fim%C5%9Fek-b19930127/" target="_blank" class="icon-radius fab fa-linkedin"></a>
      <a href="https://www.instagram.com/mertsmsk96/?hl=tr" target="_blank" class="icon-radius fab fa-instagram"></a>
    </div>
  </div>
  <div class="container">
    <h1 class="display-3" style="margin-top: 30px;">Mert'in Bloğu</h1>
    <p class="lead">
      This is a modified jumbotron that occupies the entire horizontal space of
      its parent.
    </p>
  </div>
</div>
